
*.xcuserstate

*.xcuserstate

GithubUsers-Redux.xcodeproj/project.xcworkspace/xcuserdata/shabirjan.xcuserdatad/UserInterfaceState.xcuserstate

GithubUsers-Redux.xcodeproj/project.pbxproj

GithubUsers-Redux.xcodeproj/project.xcworkspace/xcuserdata/shabirjan.xcuserdatad/UserInterfaceState.xcuserstate

*.pbxproj

*.xcuserstate
